# Prerequisites
*.d


# vim
*.un~

# ctags

tags

# Compiled Object files
*.slo
*.lo
*.o
*.obj

obj/
*.cfg
*.xml
bin/secan-motion
bin/data/
*.log
server


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
